/* Created by: Maria Goemans
* Created on: March 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-01-HTML-CSS-JS
*/

.paragraph {
  margin-left: 20%;
  margin-right: 20%;
}

.yellow {
  background-color: #fef9a3;
  color: #2f7594;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 20px;
}

.forest {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 60%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.grey {
  background-color: #e1e1e1;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 20px;
}

#list {
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
}

.orange {
  background-color: #ffd084;
  color: black;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
}

.table {
  margin-left: 25%;
  margin-bottom: 30px;
}
